/*  loader page d'accueil*/

@-webkit-keyframes disparition {
  
    to {transform: translateY(-100%);
        opacity: 0.50; 
    }
  
    from {
      transform: translateY(0%);
      opacity: 1.00; 
    }
}
@keyframes disparition {
   

    to {transform: translateY(-100%);
        opacity: 0.50; 
    }
  
    from {
      transform: translateY(0%);
      opacity: 1.00; 
    }
}
@-webkit-keyframes chargement {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  
  @keyframes chargement {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  /*  animations page resto*/
  @-webkit-keyframes spinicone{
    from {
        transform: rotate(-300deg);   
    }
    to {
        transform: rotate(0deg);
    }
}


@keyframes spinicone{
    from {
        transform: rotate(-300deg);   
    }
    to {
        transform: rotate(0deg);
    }
}
@-webkit-keyframes apparition{
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
   
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes apparition{
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
   
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}