@use "../sass/mixins.scss";
@use "../sass/Base/_base.scss";
@use "../sass/Layout/_header.scss";
@use "../sass/Utils/_variables.scss";
@use "../sass/Layout/footer";
@use "../sass/Pages/restaurants.scss";
@use "../sass/Composants/_buttons.scss";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* section location */
.location {
  display: flex;
  justify-content: center;
  background-color: #eee;
  i {
    font-size: 20px;
  }
  .location_ville {
    margin-right: 30px;
  }
  .location_icone {
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-bottom: 8px;
  }
}

/* section calltoaction */

.calltoaction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  align-items: center;
  text-align: center;
  background-color: variables.$color-fondgris;
  .calltoaction_titre {
    font-size: 28px;
    margin-bottom: 0px;
  }
  .calltoaction_paragraphe {
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 30px;
  }
}

/* Bouton réutilisable calltoaction et bas de page restaurants */
button {
    @include buttons.bouton ;
  }
/* section fonctionnement */

.fonctionnement {
  margin-top: 50px;
  padding-bottom: 20px;

  h2 {
    padding-left: 5%;
    margin: 0px;
    font-size: 25px;
  }

  ol {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    padding: 20px;
    list-style-type: none;
    margin-top: 5px;
  }
  li {
    background-color: variables.$color-fondgris;
    box-shadow: 1px 9px 10px 0px lightgrey;
    padding: 30px 28px;
    flex-grow: 1;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 18px;

    &:hover {
      @include mixins.transform-zoom;
    }
    i {
      margin-right: 10px;
      color: grey;
    }
  }
}

/* section restaurants */

.restaurants {
  background-color: #e5e5e55e;
  padding-bottom: 40px;

  h2 {
    padding-top: 50px;
    padding-left: 5%;
  }
  .restaurants_bloccartes {
    padding: 0px 25px;
  }

  
  .restaurants_carte {
    margin: 20px 0px;
    position: relative;

    & img {
      height: 200px;
      width: 100%;
      object-fit: cover;
      border-radius: 20px 20px 0px 0px;
    }

    &_nouveau {
      height: 30px;
      width: 90px;
      background-color: variables.$color-tertiary;
      position: absolute;
      right: 20px;
      top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: darken($color: variables.$color-tertiary, $amount: 40);
      font-weight: 700;
    }
    &_description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: variables.$color-white;
      margin-bottom: 25px;
      border-radius: 0px 0px 20px 20px;

      h3 {
        margin: 10px 0px 0px 10px;
      }

      p {
        margin: 3px 0px 20px 10px;
      }
    }

    i {
      font-size: 27px;
      text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
      color: variables.$color-white;
      margin: 10px 30px 25px;
    }
    i:hover {
      @include mixins.transform-zoom;
      color: purple;

      text-shadow: unset;
    }
    
}}
