@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: center;
  box-shadow: 0px 3px 6px #acabab;
  position: relative;
}

h1 {
  text-align: center;
  font-size: large;
  margin-top: 0px;
  padding-top: 30px;
}

footer {
  background-color: #353535;
  color: white;
  padding: 25px 25px 50px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}
footer h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0px;
  padding-bottom: 10px;
}
footer a {
  color: white;
  padding-top: 10px;
}
footer .footer_gap1 {
  display: flex;
  gap: 20px;
}
footer .footer_gap2 {
  display: flex;
  gap: 15px;
}

/* resto */
.resto .resto_nom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(229, 229, 229);
  border-radius: 30px 30px 0px 0px;
  padding: 25px 30px 0px;
  margin-top: -40px;
  position: relative;
}
.resto h2 {
  font-family: "Shrikhand", cursive;
  margin-top: 0px;
  font-size: 27px;
}
.resto img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}
.resto i {
  font-size: 27px;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: white;
  margin: 10px 9px 35px;
}
.resto i:hover {
  color: purple;
  text-shadow: unset;
}

/* section location */
.location {
  display: flex;
  justify-content: center;
  background-color: #eee;
}
.location i {
  font-size: 20px;
}
.location .location_ville {
  margin-right: 30px;
}
.location .location_icone {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

/* section calltoaction */
.calltoaction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  align-items: center;
  text-align: center;
  background-color: rgba(229, 229, 229, 0.368627451);
}
.calltoaction .calltoaction_titre {
  font-size: 28px;
  margin-bottom: 0px;
}
.calltoaction .calltoaction_paragraphe {
  font-size: 19px;
  font-weight: 300;
  margin-bottom: 30px;
}

.calltoaction_bouton {
  height: 60px;
  width: 250px;
  border-radius: 30px;
  color: white;
  font-weight: 600;
  font-size: 17px;
  border: none;
  background-image: linear-gradient(173deg, #FF79DA, #9356DC);
  box-shadow: 1px 9px 10px 0px lightgrey;
  margin-bottom: 35px;
}
.calltoaction_bouton .calltoaction_bouton:hover {
  box-shadow: 1px 9px 4px 0px lightgrey;
  transform: scale(1.03);
  filter: brightness(110%);
}

/* section fonctionnement */
.fonctionnement {
  margin-top: 50px;
  padding-bottom: 20px;
}
.fonctionnement h2 {
  padding-left: 5%;
  margin: 0px;
  font-size: 25px;
}
.fonctionnement ol {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
  padding: 20px;
  list-style-type: none;
  margin-top: 5px;
}
.fonctionnement li {
  background-color: rgba(229, 229, 229, 0.368627451);
  box-shadow: 1px 9px 10px 0px lightgrey;
  padding: 30px 28px;
  flex-grow: 1;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  gap: 18px;
}
.fonctionnement li li:hover {
  transform: scale(1.05);
}
.fonctionnement li i {
  margin-right: 10px;
  color: grey;
}

/* section restaurants */
.restaurants {
  background-color: rgba(229, 229, 229, 0.368627451);
  padding-bottom: 40px;
}
.restaurants h2 {
  padding-top: 50px;
  padding-left: 5%;
}
.restaurants .restaurants_carte {
  margin: 20px 0px;
  position: relative;
}
.restaurants .restaurants_carte img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.restaurants .restaurants_carte .restaurants_carte_nouveau {
  height: 30px;
  width: 90px;
  background-color: #99E2D0;
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #278870;
  font-weight: 700;
}
.restaurants .restaurants_carte .restaurants_carte_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 25px;
  border-radius: 0px 0px 20px 20px;
}
.restaurants .restaurants_carte .restaurants_carte_description h3 {
  margin: 10px 0px 0px 10px;
}
.restaurants .restaurants_carte .restaurants_carte_description p {
  margin: 3px 0px 20px 10px;
}
.restaurants .restaurants_carte i {
  font-size: 27px;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: white;
  margin: 10px 30px 25px;
}
.restaurants .restaurants_carte i:hover {
  transform: scale(1.05);
  color: purple;
  text-shadow: unset;
}
.restaurants .restaurants_bloccartes {
  padding: 0px 25px;
}

/*# sourceMappingURL=mobile.css.map */
